.validate:
  stage: test
  script:
    - cd ${TERRAGRUNT_ROOT}/${REGION}/${ENVIRONMENT}/${MODULE}
    - terragrunt hclfmt --terragrunt-check
    - terragrunt validate

.plan:
  stage: plan
  script:
    - cd ${TERRAGRUNT_ROOT}/${REGION}/${ENVIRONMENT}/${MODULE}
    - terragrunt plan -input=false -out=${CI_PROJECT_DIR}/terragrunt.tfplan
    - "terragrunt show --json ${CI_PROJECT_DIR}/terragrunt.tfplan 2>/dev/null | convert_report > ${CI_PROJECT_DIR}/terragrunt_plan.json"
    - "terragrunt show --json ${CI_PROJECT_DIR}/terragrunt.tfplan 2>/dev/null > ${CI_PROJECT_DIR}/infracost_plan.json"
    - echo "Finished planning"
  artifacts:
    expire_in: 1 day
    paths:
      - "${CI_PROJECT_DIR}/terragrunt.tfplan"
      - "${CI_PROJECT_DIR}/infracost_plan.json"
    reports:
      terraform: "${CI_PROJECT_DIR}/terragrunt_plan.json"

.infracost:
  stage: infracost
  image:
    name: infracost/infracost:ci-0.10
    entrypoint: [""]
  before_script:
    - echo "Getting cost information for your boss"
  script:
    - |
      infracost diff --path=${CI_PROJECT_DIR}/infracost_plan.json \
                     --format=json \
                     --project-name="${ENVIRONMENT}/${REGION}/${MODULE}" \
                     --out-file=${CI_PROJECT_DIR}/infracost.json
    - |
      infracost comment gitlab --path=${CI_PROJECT_DIR}/infracost.json \
                               --repo=$CI_PROJECT_ID \
                               --merge-request=$CI_MERGE_REQUEST_IID \
                               --gitlab-server-url=$CI_SERVER_URL \
                               --gitlab-token=$GITLAB_TOKEN_INFRACOST \
                               --behavior=delete-and-new

.tfsec:
  stage: test
  script:
    - cd ${TERRAGRUNT_ROOT}/${REGION}/${ENVIRONMENT}/${MODULE}
    - terragrunt init
    - tfsec ./ --soft-fail 2>/dev/null
    #- tfsec ./ --soft-fail --format junit --out ${CI_PROJECT_DIR}/tfsec_report.xml
  allow_failure: true
  #artifacts:
  #  when: always
  #  paths:
  #    - "${CI_PROJECT_DIR}/tfsec_report.xml"
  #  reports:
  #    junit: "${CI_PROJECT_DIR}/tfsec_report.xml"

.apply:
  stage: apply
  script:
    - cd ${TERRAGRUNT_ROOT}/${REGION}/${ENVIRONMENT}/${MODULE}
    - terragrunt apply -input=false -auto-approve ${CI_PROJECT_DIR}/terragrunt.tfplan
  when: manual

workflow:
  rules:
  - if: $CI_PIPELINE_SOURCE == "parent_pipeline"
  #- if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
  #  when: never
  #- if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

default:
  image:
    name: misastovicek/terragrunt-tflint-opentofu:v0.1.0
  before_script:
    - |
        #!/bin/bash
        shopt -s expand_aliases
        alias convert_report="jq -r '([.resource_changes[]?.change.actions?]|flatten)|{\"create\":(map(select(.==\"create\"))|length),\"update\":(map(select(.==\"update\"))|length),\"delete\":(map(select(.==\"delete\"))|length)}'"

        command -v ssh-agent || apk --update add openssh-client
        eval $(ssh-agent -s)
        mkdir -p ~/.ssh && chmod 700 ~/.ssh
        echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_ed25519
        ssh-keyscan gitlab.com 2> /dev/null > ~/.ssh/known_hosts
        chmod 600 ~/.ssh/known_hosts && chmod 600 ~/.ssh/id_ed25519
        ssh-add ~/.ssh/id_ed25519
    - az login --service-principal -u $ARM_CLIENT_ID -p $ARM_CLIENT_SECRET --tenant $ARM_TENANT_ID -o none

variables:
  TERRAGRUNT_ROOT: ${CI_PROJECT_DIR}/terragrunt

stages:
  - test
  - plan
  - infracost
  - apply

{% for m in modules %}
{%- set terragrunt_paths %}
- terragrunt/{{ m.region }}/{{ m.env }}/{{ m.module }}/*.{hcl,tfvars,yml,yaml}
- terragrunt/{{ m.region }}/{{ m.env }}/*.{hcl,tfvars,yml,yaml}
- terragrunt/{{ m.region }}/*.{hcl,tfvars,yml,yaml}
{%- if m.common_file %}
- terragrunt/_common/{{ m.common_file }}
{%- endif %}
- terragrunt/*.{hcl,tfvars,yml,yaml}
{% endset -%}

tg_validate:{{ m.region }}-{{ m.env }}-{{ m.module }}:
  variables:
    ENVIRONMENT: {{ m.env }}
    REGION: {{ m.region }}
    MODULE: {{ m.module }}
  extends:
    - .validate
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        {{- terragrunt_paths | indent(8,True) }}

tg_plan_mr:{{ m.region }}-{{ m.env }}-{{ m.module }}:
  variables:
    ENVIRONMENT: {{ m.env }}
    REGION: {{ m.region }}
    MODULE: {{ m.module }}
  needs:
    - job: tg_validate:{{ m.region }}-{{ m.env }}-{{ m.module }}
  extends:
    - .plan
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        {{- terragrunt_paths | indent(8,True) }}

tg_plan:{{ m.region }}-{{ m.env }}-{{ m.module }}:
  variables:
    ENVIRONMENT: {{ m.env }}
    REGION: {{ m.region }}
    MODULE: {{ m.module }}
  extends:
    - .plan
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        {{- terragrunt_paths | indent(8,True) }}

infracost_mr:{{ m.region }}-{{ m.env }}-{{ m.module }}:
  variables:
    ENVIRONMENT: {{ m.env }}
    REGION: {{ m.region }}
    MODULE: {{ m.module }}
  needs:
    - job: tg_plan_mr:{{ m.region }}-{{ m.env }}-{{ m.module }}
      artifacts: true
  extends:
    - .infracost
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        {{- terragrunt_paths | indent(8,True) }}

tg_apply:{{ m.region }}-{{ m.env }}-{{ m.module }}:
  variables:
    ENVIRONMENT: {{ m.env }}
    REGION: {{ m.region }}
    MODULE: {{ m.module }}
  needs:
    - job: tg_plan:{{ m.region }}-{{ m.env }}-{{ m.module }}
      artifacts: true
  extends:
    - .apply
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
      changes:
        {{- terragrunt_paths | indent(8,True) }}

tfsec_mr:{{ m.region }}-{{ m.env }}-{{ m.module }}:
  variables:
    ENVIRONMENT: {{ m.env }}
    REGION: {{ m.region }}
    MODULE: {{ m.module }}
  extends:
    - .tfsec
  rules:
    - if: $CI_MERGE_REQUEST_ID
      changes:
        {{- terragrunt_paths | indent(8,True) }}
{% endfor %}